@addTagHelper*, KitundaChurch
@{
    ViewData["Title"] = "Home Page";
}
<style>
   
</style>
<div class="dcontainer" style="position:relative;">

    <div>
        <div class="ism-slider" data-transition_type="fade" data-play_type="loop" data-image_fx="zoompan" id="my-slider">
            <ol>
                <li>
                    <img src="~/images/IMG_20170121_125913.jpg" style="width:100%;" />
                    <div class="ism-caption ism-caption-0">My slide caption text</div>
                </li>
                <li>
                    <img src="~/images/beautiful-701678_1280.jpg" style="width:100%; ">
                    <div class="ism-caption ism-caption-0">My slide caption text</div>
                </li>
                <li>
                    <img src="~/images/summer-192179_1280.jpg" style="width:100%; ">
                    <div class="ism-caption ism-caption-0">My slide caption text</div>
                </li>
                <li>
                    <img src="~/images/DSC_0871.JPG" style="width:100%; height:100%;" />

                    <div class="tracking-in-contract-bck-top ">Mungu ni Pendo Apenda Watu</div>
                </li>
                <li>
                    <img src="~/images/DSC_0874.JPG" style="width:100%; " />

                    <div class="ism-caption ism-caption-0">My slide caption text</div>
                </li>
                <li>
                    <img src="~/images/DSC_0873.JPG" style="width:100%; " />


                    <div class="ism-caption ism-caption-0">My slide caption text</div>
                </li>
                <li>
                    <img src="~/images/DSC_0817.JPG" style="width:100%;" />

                    <div class="ism-caption ism-caption-0">My slide caption text</div>
                </li>
                <li>
                    <img src="~/images/DSC_0966.JPG" style="width:100%; " />
                    <div class="ism-caption ism-caption-0">My slide caption text</div>
                </li>
                <li>
                    <img src="~/images/DSC_0878.JPG" style="width:100%; " />
                    <div class="ism-caption ism-caption-0">My slide caption text</div>
                </li>
                <li>
                    <img src="~/images/DSC_0938.JPG" style="width:100%;  " />
                    <div class="ism-caption ism-caption-0">My slide caption text</div>
                </li>
            </ol>
        </div>

        <div class="e" style="">
            <div class="eve" style=" ">
                <div class="Events col-md-8" style="">
                    <h3 class="headers"><span >Upcoming Events</span></h3>
                    
                    <vc:event />
                </div>

                <div class="media-left col-md-4" style="">
                    <h3 class="headers"><span>Praise & Harmony</span></h3>
                  
                    <vc:play-list new NavigationComponentModel()></vc:play-list>
                </div>
            </div>
            </div>
        </div>
    <br>
    <div style="padding-right:15px; padding-left:15px;">
        <div class=" b " style="">
            <div class="midcenter " style="padding:0;">
                <div class="container-fluid">
                    <a href="@Url.Action("Create","News")">+</a>
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="col-md-3 navbar-brand"><h3>News, Blog & Ministries</h3></span>
                            <div class="col-md-9">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </div>
                        </button>

                    </div>
                    <div class=" collapse  navbar-collapse" id="myNavbar">

                        <ul class="" id="res">
                            <li class="active btn lin" onclick="clickFunc(1)" id="1"><h4>NEWS</h4></li>
                            <li class="lin btn" onclick="clickFunc(2)" id="2"><h4>BLOGS</h4></li>
                            <li class="lin btn" onclick="clickFunc(3)" id="3"><h4>MINISTRIES</h4></li>
                        </ul>
                    </div>
                </div>
                <div class="Events  a " style="position:relative;">
                    <vc:news cat-id="0"></vc:news>
                </div>
            </div>
           
        </div>
        
    </div><div  class=" our " style="padding:15px 0 25px 0;  ">
    <div class=" overlay carousel  slide" style= "">
    
        <div class="carousel-inner" >
            <div class="item active " style="width:100%; ">
                <h1>John Doe</h1>
                <p class="title">CEO & Founder, Example</p>
                <p>Harvard University</p>
               
            </div>
            <div class="item " style="width:100%; ">
                <h1>John Doe</h1>
                <p class="title">CEO & Founder, Example</p>
                <p>The End is near</p>
               
            </div>
            <div class="item " style="width:100%; ">
                <h1>John Doe</h1>
                <p class="title">CEO & Founder, Example</p>
                <p>Our Church is missioned </p>
             
            </div></div>
        </div></div>
    <div class=" col-md-12" style="padding:0;">

        <div class="overlay lay text-center" style=" position:absolute;z-index:1; width: 100%;height: 100%; color:aliceblue;"> <span style="font-size-adjust:0.58;" class="r"><h1><a href="@Url.Action("Index", "Galleries")">Our gallery</a></h1></span></div>
        <div class="column">

            <div id="myCarousel" class="carousel slide" data-interval="4000" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="~/images/DSC_0817.JPG" alt="Mountains" style="width:100%;" />
                    </div>

                    <div class="item">
                        <img src="~/images/DSC_0938.JPG" alt="Mountains" style="width:100%;" />
                    </div>

                    <div class="item">
                        <img src="~/images/IMG_20170121_125913.jpg" style="width:100%;" />

                    </div>
                </div>
            </div>
        </div>
        <div class="carousel fade-carousel column carousel-fade slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
            <!-- Overlay -->
            
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#bs-carousel" data-slide-to="1"></li>
                <li data-target="#bs-carousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item slides active">
                    <div class="slide-1"></div>
                    <img src="~/images/DSC_0871.JPG"  style="width:100%;"/>
                </div>
                <div class="item slides">
                    <div class="slide-2"></div>
                    <img src="~/images/flower-729514_1280.jpg" style="width:100%;"/>
                </div>
                <div class="item slides">
                    <div class="slide-3"></div>
                    <img src="~/images/DSC_0817.JPG" style="width:100%;"/>
                </div>
            </div>
        </div>

            <div class="column">


                <div id="myCarousel" class="carousel slide" data-interval="4000" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="~/images/DSC_0871.JPG" alt="Mountains" style="width:100%;" />
                        </div>

                        <div class="item">
                            <img src="~/images/DSC_0966.JPG" alt="Mountains" style="width:100%;" />
                        </div>

                        <div class="item">
                            <img src="~/images/DSC_0878.jpg" style="width:100%;" />

                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel fade-carousel column carousel-fade slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
                <!-- Overlay -->
                
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#bs-carousel" data-slide-to="1"></li>
                    <li data-target="#bs-carousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item slides active">
                     
                        <img src="~/images/summer-192179_1280.jpg" style="width:100%;"/>
                    </div>
                    <div class="item slides">
                        
                        <img src="~/images/DSC_0966.JPG" style="width:100%;"/>

                    </div>
                    <div class="item slides">

                        <img src="~/images/DSC_0878.JPG" style="width:100%;"/>

                    </div>
                </div>
            </div>


        </div>
        </div>



        @section scripts
            {
            <script>



        var container = $(".a");

        function clickFunc(Id) {


            $.ajax({
                url: "@Url.Action("Intermediate","Home")",
                type: "Post",
                data: "id=" +Id,

                success: function (data) { container.html(data); }
            });

        };



        $(".Albm").click(function () {


            $(".hid").hide();

            $(this).find(".table3").show();


        });

        $(".son").click(function () {
            $("#table2").show();
            $(".hid").hide();
            $(".table3").hide();

        });
        $(".alb").click(function () {
            $("#table2").hide();
            $(".table3").hide();
            $(".hid").show();
        });
        $('#carouselHacked').carousel();

            </script>
        }
