@model KitundaChurch.Models.ChurchMembers
@{
    ViewData["Title"] = "GetUser";
}
<script>

     $(document).ready(function () {
         $("#Name").autocomplete({
             source: function (request, response) {
                 $.ajax({
                     url: "/Matoleos/GetUser",
                     beforeSend: function (xhr) {
                         xhr.setRequestHeader("XSRF-TOKEN",
                             $('input:hidden[name="__RequestVerificationToken"]').val());
                     },
                     type: "POST",
                     dataType: "json",
                     data: { Name: request.term },
                     success: function (data) {
                         response($.map(data, function (item) {
                             return { label: item.Name, value: item.Name };
                         }))

                     }
                 })
             },
             messages: {
                 noResults: "", results: ""
             }
         });
     })

     function myshow() {

         $(".row").show();
         $("#bton").hide();
         $("#matoleo_churchmembersid").val()
     }

            //$("#bton").click(function () {

            //    $(".row").show();
            //    $("#bton").hide();
            //});
</script>

<form id="GetUser" method="post">

    <h2>Get Mtoaji</h2>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="majib"></div>
    </div>
        
        <div class="form-group">
            <input type="submit" id="search" value="Search" class="btn btn-default" />
        </div>
</form>


    <script src="~/lib/jquery/dist/jquery.js"></script>
       
