@model KitundaChurch.Models.Matoleo

<form   asp-controller="Matoleos" asp-action="Index" method="post">

    <div class="form-group col-md-offset-6">
        <label class="control-label"> Choose Date</label>
        <select asp-for="Savetime" asp-items="ViewBag.Timed" class="form-control" ></Select>
        
    </div>
    <div class="form-group col-md-offset-6">
        <input type="submit" value="Fetch" class="btns btn-default" />
    </div>
</form>