@model IEnumerable<KitundaChurch.Models.Song>
<table class="table-hover song">

    
    @foreach (var item3 in Model)
    {

        <tr>

            <td>


                @{
                    var base64 = Convert.ToBase64String(item3.songData);
                    var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
                    ViewBag.img = imgSrc;

                }

                <img src='@ViewBag.img' style="max-width:100px; max-height:100px;" />
            </td>

            <td>
                <p>@item3.songName)</p>
            </td>
        </tr>

                    }

</table>

    
