@model KitundaChurch.Models.Matoleo

@{
    ViewData["Title"] = "Create";
}
<h4>Matoleo</h4>
<hr/>

 
    <div class="col-md-4">
        @*<div class="formPartial">
            @{ await Html.RenderPartialAsync("GetUser"); }
        </div>*@
     
        
            <div class="row">

                <form asp-controller="Matoleos" asp-action="CreateAsync" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @*<input asp-for="ChurchMembersId" class="form-control hidden" />*@
                    <div class="form-group col-lg-offset-6">
                        <label asp-for="Savetime" class="control-label"></label>
                        <input asp-for="Savetime" class="form-control datepicker" />
                        <span asp-validation-for="Savetime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ChurchMembers.Name" class="control-label"></label>
                        <input asp-for="ChurchMembers.Name" class="form-control" />
                        <span asp-validation-for="ChurchMembers.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Total" class="control-label"></label>
                        <input asp-for="Total" class="form-control" />
                        <span asp-validation-for="Total" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Zaka" class="control-label"></label>
                        <input type="checkbox" id="Zaka1">
                        <input asp-for="Zaka" class="form-control" />
                        <span asp-validation-for="Zaka" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>  Sadaka<input type="checkbox" id="Sadaka"></label>
                        <div class="sadaka">
                            <div class="form-group col-md-4">
                                <span> <label class="control-label" >Sadaka Ya Pamoja</label></span>
                                <input class="form-control" type="text"  id="sadakayapamoja" name="sadakayapamoja" value="0" />
                                
                            </div>

                            <div class="form-group col-md-4">
                                <span> <label asp-for="sadakaConf" class="control-label"></label></span>
                                <input asp-for="sadakaConf" class="form-control" />
                                <span asp-validation-for="sadakaConf" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <span><label asp-for="sadakaBk" class="control-label"></label></span>
                                <input asp-for="sadakaBk" class="form-control" />
                                <span asp-validation-for="sadakaBk" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="sadakaMajengo" class="control-label"></label>
                        <input asp-for="sadakaMajengo" class="form-control" />
                        <span asp-validation-for="sadakaMajengo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="sadakaMakambi" class="control-label"></label>
                        <input asp-for="sadakaMakambi" class="form-control" />
                        <span asp-validation-for="sadakaMakambi" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MpangoKanisa" class="control-label"></label>
                        <input asp-for="MpangoKanisa" class="form-control" />
                        <span asp-validation-for="MpangoKanisa" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="col-md-6">Mengineyo: </label>
                        <input type="button" @*style="margin:17px 0px 0px 7px" *@ class="btnPlus col-md-pull-2 btn btn-default" value="+" />
                    </div>

                    <div class="form-group">
                        <table id="table1">
                            @*<tr>
                                <td>
                                    Desc:
                                    <input type="text" class="form-control" asp-for="mengineyo.descr" />
                                </td>
                                <td>
                                    Amount:
                                    <input type="text" class="form-control" asp-for="mengineyo.Amount" value="0" />
                                </td>

                                <td>
                                    <input type="button" style="margin:17px 0px 0px 15px" class="btnminus  form-control" value="-" />
                                </td>
                            </tr>*@
                        </table>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section scripts {
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
    <script>

        $(document).ready(function () {



            function calc(b = 0) {



                $("#Zaka1").change(function () {

                    var t = $("#Total").val();
                    var jum = t - b;

                    
                    if (this.checked) {

                        $("#Zaka").val(jum / 2);
                        $("#sadakayapamoja").val(jum / 2);
                        $("#sadakaConf").val((jum / 2) * 0.58);
                        $("#sadakaBk").val((jum / 2) * 0.42);
                    }


                });

                var g=
                    $("#Sadaka").change(function () {
                        var t = $("#sadakayapamoja").val();

                        $("#sadakaConf").val((t ) * 0.58);
                        $("#sadakaBk").val((t ) * 0.42);
                    
                });
                
            }
            $("#sadakaMakambi").val(0);
            $("#sadakaMajengo").val(0);
            $("#MpangoKanisa").val(0);
            //$('#savetime').val(Date(4/28/2018));
            calc();
            var id = 0;
            function addRow() {

                var html = '<tr>' +
                    '<td>Desc:<input type="text" class="form-control" data-val="true" data-val-required="The Description is required." id="mengineyo[' + id + ']_descr" name="mengineyo[' + id + '].descr"  /> </td>' +
                    '<td> Amount:<input type="text" class="form-control" data-val="true" data-val-required="The Amount is required." id="mengineyo[' + id + ']_Amount" name="mengineyo[' + id + '].Amount"  /></td>' +
                    '<td><input type="button" style="margin:17px 0px 0px 7px" class="btnminus form-control" value="-" /></td>' +
                    '</tr>';
                $(html).appendTo($("#table1"));
                id++;
            };
             //$("#sadakaMajengo").change(function () {
             //    var b = $(this).val();
             //    $("#Zaka1").val(this.checked);
             //    calc(b);
             //});
             //$("#sadakaMakambi").change(function () {

             //    var b = $(this).val();

             //    calc(b).$("Zaka1").change();
             //});

             //$("#MpangoKanisa").change(function () {
             //    var b = $(this).val();
                
             //    calc(b);
             //});


            $(".btnPlus").click(addRow);

            $(document).on("click", ".btnminus", function () {
                $(this).closest('tr').remove();

            });

       
              /*  $(function () {
                    $('#datepicker').datetimepicker();
            });*/



        
            //$("#bton").click(function () {
                
            //    $(".row").show();
            //    $("#bton").hide();  
            //});
    });
    </script>
}
