@model IEnumerable<KitundaChurch.Models.News>
<style>
    .soon {
        overflow: hidden !important;
        color: inherit !important;
        
    }

        /*.soon img {
            width: 200px !important;
            height: auto !important;
            border: 8px ridge darkgray !important;
            float: left !important;
            -webkit-transition: all 1s ease !important; /* Safari and Chrome */
            -moz-transition: all 1s ease !important; /* Firefox */
            -ms-transition: all 1s ease !important; /* IE 9 */
            -o-transition: all 1s ease !important; /* Opera */
            transition: all 1s ease !important;
           margin:25px;
        }*/

            .soon img:hover {
                -webkit-transform: scale(1.25) !important; /* Safari and Chrome */
                -moz-transform: scale(1.25) !important; /* Firefox */
                -ms-transform: scale(1.25) !important; /* IE 9 */
                -o-transform: scale(1.25) !important; /* Opera */
                transform: scale(1.25) !important;
            }
           
</style>








@foreach (var item in Model)
{
    <div class="col-md-4">
        @*<div class="col-md-2 boxed">

                    @if (ViewBag.image != null)
                {
                        <hr />
                        <img style="width:100%; height:inherit; " src="@ViewBag.image">
                    }
                    <span id="soon">Next Coming Soon</span>

            </div>*@
        <a href=" @Url.Action("Details","News",  new { id = item.Id })" class=" soon ">

             <h5 class="TheTitle" style="color:rgba(23, 124, 224, 0.97); margin:0; padding:0;">  @*@Html.DisplayFor(modelItem => item.Title)*@</h5>
           <div class="co"> @Html.Raw(item.content)</div>
            


            <p>
                @Html.DisplayFor(modelItem => item.time)

            </p>

        </a>
    </div>
        
        

}

@*@section script
    {
        <script>
            //$(document).ready(function () {
            //    $('.soon').closest('img').css("");
            //})

        </script>
    }*@

