@model List<KitundaChurch.Models.Song>


<table id="table2" class="col-md-5 hidden">


    @foreach (var item3 in Model)
    {

        <tr class="btn" onclick="ply(@item3.ContentType,@item3.songName)">
            @await Component.InvokeAsync("SongList", new { AlbumId=item3.AlbumId})
            <td>


                @{
                    var base64 = Convert.ToBase64String(item3.songData);
                    var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
                    ViewBag.img = imgSrc;

                }

                <img src='@ViewBag.img' style="max-width:100px; max-height:100px;" />
            </td>

            <td>
                <p>@item3.songName)</p>
            </td>
        </tr>

                    }

</table>
@section scripts{
  <script>
      function play(t,y) {
        var bit = y;
        var typ = t;
        $("#mejs").setAttribute("src", y).setAttribute("type",t);

    };
    </script>
  }


